# For projects that use the Waf build system: https://waf.io/
# Dot-hidden on Unix-like systems
.waf-*-*/
.waf3-*-*/
# Hidden directory on Windows (no dot)
waf-*-*/
waf3-*-*/
# Lockfile
.lock-waf_*_build
gen/src/action_bouger.cc
gen/src/action_bouger.hh
gen/src/actions.hh
gen/src/api.cc
gen/src/api.hh
gen/src/constant.hh
gen/src/entry.cc
gen/src/game_state.cc
gen/src/game_state.hh
gen/src/interface.cc
gen/src/rules.cc
gen/src/rules.hh
gen/wscript
